body{
    background-color:peachpuff;
}

h1{
    text-align:center;
    font-size:72px;
    font-weight:bold;
    font-style:italic;
    text-decoration:underline;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2{
    color: darkgreen;
}
.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
}

.main {
    top: 115px;
    left: 130px;
    right:140px;
    bottom:40px;
}

.footer{
    bottom: 5px;
    height: 25px;
    left: 15px;
    right: 25px;
    
}

